<!-- アカウント管理モーダル -->
<div id="accountModal" class="account-modal">
  <div class="account-modal-content account-management">
    <span class="account-modal-close" onclick="closeAccountModal()">&times;</span>

    <div class="account-modal-header">
      <h2>アカウント管理</h2>
    </div>

    <div class="account-management-body">
      <!-- 左側メニュー -->
      <%- include('./account/menu') %>

      <!-- 右側コンテンツエリア -->
      <div class="account-content">
        <%- include('./account/section_history') %>
        <%- include('./account/section_checks') %>
        <%- include('./account/section_profile') %>
        <%- include('./account/section_achievement') %>
        <%- include('./account/section_activity') %>
        <%- include('./account/section_radar') %>
        <%- include('./account/section_settings') %>
      </div>
    </div>
  </div>
</div>

<%- include('./account/category_confirm') %>

<!-- アカウント管理スクリプト -->
<script>
  // want_grade1からデフォルトの級タブレベルを算出
  var defaultAccountLevel = (function() {
    <% if (user && user.want_grade1) { %>
      var gradeMap = { '４級': 4, '３級': 3, '２級': 2, '１級': 1 };
      return gradeMap['<%= user.want_grade1 %>'] || 4;
    <% } else { %>
      return 4;
    <% } %>
  })();
</script>
<script src="/public/js/account/chart-loader.js"></script>
<script src="/public/js/account/modal.js"></script>
<script src="/public/js/account/history.js"></script>
<script src="/public/js/account/checks.js"></script>
<script src="/public/js/account/achievement.js"></script>
<script src="/public/js/account/activity.js"></script>
<script src="/public/js/account/radar.js"></script>
<script src="/public/js/account/profile.js"></script>
<script src="/public/js/account/settings.js"></script>
